body {
  background-color: black;
  text-align: center;
  font-family: "Verdana", sans-serif;
  color: white;
}

h1 {
  font-weight: normal;
  font-size: 50px;
}

.cta {
  color: aquamarine;
  font-size: 16px;
}

h2 {
  font-size: 42px;
}

.title {
  color: white;
}

p {
  color: grey;
  font-size: 21px;
}

.footer {
  text-align: right;
}
